{
  "sources": [
    {
      "name": "iCloud Familie",
      "url": "https://contacts.icloud.com/",
      "username": "deine@icloud.com",
      "password": "xxxx-xxxx-xxxx-xxxx",
      "addressBookPath": "/274887503/carddavhome/card/",
      "groupFilter": "Familie",
      "phoneFilterExclude": ["(old)", "(alt)"]
    },
    {
      "name": "Nextcloud Arbeit",
      "url": "https://nextcloud.example.com/remote.php/dav/addressbooks/users/USERNAME/contacts/",
      "username": "username",
      "password": "password",
      "groupFilter": "Arbeit",
      "phoneFilterExclude": ["privat"]
    }
  ]
}
